<div>
  <div class="info">
    <div class="course-title">{{type}} course <span class="course-id">{{courseId + 1}}</span>
      {{duration | duration}} <span *ngIf="course.topRated" class="top-rated"> &#x2606;</span>
      <span class="course-date">{{courseDate | date: 'dd/MM/yyyy'}}</span></div>
    <p class="course-description">{{description}}</p>
  </div>

  <div class="buttons">
    <button (click)="editCourse()">Edit course</button>
    <button (click)="deleteCourse()">Delete</button>
  </div>
</div>
