
<app-toolbox
  (search)="search($event)"></app-toolbox>
<div *ngIf="!editing">
<course-details *ngFor="let course of courses | orderBy:'courseDate':'Date'; index as i;"
                [course]="course"
                [courseId]="i"
                (removeCourse)="removeCourse($event)"
                [class.top-rated-course]="course.topRated"
                [appPlateBorder]="course.courseDate"></course-details>
<div *ngIf="!courses || courses.length === 0" class="no-courses">
  <p>No data. Feel free to add new course</p>
</div>
</div>
<app-edit-course *ngIf="editing">

</app-edit-course>
