
<app-toolbox
  (search)="search($event)"></app-toolbox>
<div *ngIf="courses && courses.length !== 0">
<course-details *ngFor="let course of courses | orderBy:'date':'Date'; index as i"
                [course]="course"
                (removeCourse)="removeCourse($event)"
                [class.top-rated-course]="course.isTopRated"
                [appPlateBorder]="course.date"></course-details>
</div>
<div *ngIf="!courses || courses.length === 0" class="no-courses">
  <p>No data. Feel free to add new course</p>
</div>
